@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

#root {
  --primary-color: #171820;
  --secondary-color: #5c5f6f;
  --third-color: #f3f3f4;
}
